body {
  background-image: radial-gradient(
    circle at top right,
    rgb(47, 245, 202),
    rgb(14, 125, 248)
  );
}

h1 {
  color: #fff;
  text-shadow: 2px 2px #282c34;
  margin: 0 20px;
}

.faqOuter {
  margin: 20px;
}

.faqItems {
  border: 1px solid white;
  margin-bottom: 10px;
  z-index: 1;
}

.faqItems h3 {
  margin: 0;
  padding: 10px;
  background-color: #282c34;
  color: #fff;
  text-align: left;
  cursor: pointer;
}
.faqItems p {
  color: aliceblue;
  background-color: #083eac;
  font-size: 1.1rem;
  margin: 0;
  text-align: left;
  height: 0px;
  transform: scaleY(0);
  padding: 0px;
  transition: 0.5s;
  font-style: italic;
}
.activeAns {
  height: auto !important;
  transform: scaleY(1) !important;
  padding: 10px !important;
}
